
   {{!main.hbs}}

    <div class="mui-container-fluid ">
      <div class="mui--text-display1  mui--text-center" style="height:50px;margin-top:20px">{{this.titulo}}</div>
      <div class="mui-divider"></div>
      <!-- Listado de Productos -->
      <div class="mui-row" style="margin-top:20px">
        <div class="mui-col-md-4"></div>
        <div class="mui-col-md-4">
         <h2 class="mui--text-center">Cantidad de par치metros del servidor:{{configu.length}}</h2>
          <table class="mui-table mui-table--bordered mui-striped">
            <thead>
              <tr>
                <th>Descripci칩n</th>
                {{!-- <th>Precio</th>
                <th>Imagen</th> --}}
              </tr>
            </thead>
            <tbody>
             {{#if Hay}}
              {{# each configu}}
                <tr>
                <td>{{param}} </td>
                {{!-- <td>{{precio}} </td>
                <td class="mui--text-center"><img src={{thumbnail}} width=30 height=30 alt="coder"> </td> --}}
               </tr>
               {{/each}}
              {{else}}
              {{/if}}
        
            </tbody>

          </table>
          {{#if Hay}}
           {{else}}
               <h2> Disculpe, no encuentro los par치metros del servidor</h2>
          {{/if}}
         
        </div>

        <div class="mui-col-md-4"></div>
      </div>
       <!-- Bot칩n para pasar a otra Pagina -->
       <div class="mui-row">
        <div class="mui-col-md-4"></div>
        <div class="mui-col-md-4">

        </div>
          {{!-- <form action="http://localhost:8080/">
            <div class="mui--text-center">
              <button type="submit" class=" mui-btn mui-btn--raised mui-btn--accent"> Formulario Carga Productos</button>
           </div>
          </form> --}}
        </div>
      </div>

    </div>


    
